@import '../index.scss';

.loader {
    font-weight: bold;
    font-family: sans-serif;
    animation: l1 1s linear infinite alternate;

    &:before {
        content: "Loading..."
    }

    @keyframes l1 {
        to {
            opacity: 0
        }
    }
}