.container {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    @media (min-width: 700px) {
        .header {
            h5 {
                font-size: 1.6rem;
            }
        }
    }
}