// COLORS

// TEXT
$color-1: #FFFFFF;
$color-2: #000000;
$color-3: #909090;
$color-4: #3A785E;
$color-5: #459474;

// BG
$color-6: #090909;
$color-7: #030303;
$color-8: #111A15;
$color-error: #A5211E;