@import '@/styles/index.scss';

.container {
    padding: 4rem 2rem;
    padding-bottom: 15rem;
    color: $color-1;

    main {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    @media (min-width: 700px) {
        padding: 10rem 2rem;
        padding-bottom: 15rem;
    }
}

.home {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    >div {
        .chart {
            display: none;
        }
    }

    @media (min-width: 700px) {
        >div {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .chart {
                display: block;
            }
        }
    }
}